.col-sm-12 h3 {
    text-align: center;
    color: red;
}

.carousel-inner {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 690px;
    margin-top: 3em;
    margin-right: 1em;
    box-shadow: 0px 0px 20px 0px rgba(36, 35, 35, 0.733);
    border-style: solid;
    border-color: transparent;

}

button.navbar-toggle {
    background-color: rgba(90, 84, 84, 0.253);
}

.h3 {
    color: rgb(255, 255, 255);
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4em;
}

.img-thumbnail1 {
    width: 300px;
    height: 380px;
}

.img-thumbnail1:hover {
    transition: transform 2.2s;
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}

.img-thumbnail2 {
    width: 300px;
    height: 380px;
}

.img-thumbnail2:hover {
    transition: transform 2.2s;
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}

.img-thumbnail3 {
    width: 300px;
    height: 380px;
}

.img-thumbnail3:hover {
    transition: transform 2.2s;
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}

.img-thumbnail4 {
    width: 300px;
    height: 380px;
}

.img-thumbnail4:hover {
    transition: transform 2.2s;
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}

.contenedor2 {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor3 {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}