.react-clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.react-clock__face {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    margin-top: 700em;
    
    
    
}

.react-clock__hand {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.react-clock__hand__body {
    position: fixed;
    background-color: black;
    transform: translateX(-50%);
}

.react-clock__mark {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
}

.react-clock__mark__body {
    position: fixed;
    background-color: rgb(241, 236, 236);
    transform: translateX(-50%);
}

.react-clock__mark__number {
    position: fixed;
    left: -40px;
    width: 80px;
    text-align: center;
}

.react-clock__second-hand__body {
    background-color: red;
}