.tbody{
    display: flex;
    flex-direction: row;
}


.buscador{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.col{
    display: flex;
    flex-direction: row;
    position: relative;
}

.image {
       display: flex;
       flex-direction: row;
       width: 250px;
       height: 350px;
       justify-content: center;
       filter: opacity(0.7);
   }
    

.movieInfo{
    display: none;
        flex-direction: column;
       
        justify-content: center;
        
   
}



.image:hover  {
    display: flex;
    transition: 0.8s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(90, 84, 84, 0.253);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    justify-content: center;
}

.movieInfo {
    display: block;
    flex-direction: column;
    transition: 0.8s;

    justify-content: center;


}



