.tbody{
    display: flex;
    flex-direction: row;
    
}

.buscador{
    width: 200px;
    display: flex;
    flex-direction: column;
    
}

.resultadobusqueda{
    display: flex;
    border-bottom-left-radius: 25em;
    border-bottom-right-radius: 25em;
    border-top-left-radius: 25em;
    border-top-right-radius: 25em;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.219);
}


.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    height: 320px;
}

.image {
    display: flex;
    flex-direction: row;
    width:290px;
    height: 420px;
    justify-content: center;
    filter: opacity(0.7);
    box-shadow: 0px 0px 20px 0px rgba(36, 35, 35, 0.733);
    margin-top: 2em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}


.image:hover  {
    display: flex;
    transition: 0.8s;
    box-shadow: 0px 0px 20px 0px rgba(36, 35, 35, 0.733);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    justify-content: center;
    filter: opacity(0.7);
}









