.tbody{
    display: flex;
    flex-direction: row;
}

.buscador{
    width: 200px;
    display: flex;
    flex-direction: column;
    display: grid;
    place-content: center;
    margin-left: 32em;
    justify-content: space-between;
    
}
.image{
    justify-content: space-between;
    width: 200px;
    height: 200px;
}

.card .movieInfo{
    display: none;
}

.card:hover .movieInfo {
    display: block;
    scale: 20px;
}