nav.navbar-light .navbar-brand {
	color: red;
	font-size: 10,5em;
	letter-spacing: 5pt;
	margin-left: 1em;
	margin-bottom: 6px;
}

nav.navbar-light .navbar-brand:hover {
	color: rgb(222, 28, 28);
}
h6{
	
	color: rgb(161, 161, 161);
}
.form-control{
	height: 30px;
	margin-top: 3px;
	margin-right: 3em;
	
}

